.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 80px;
}

@media only screen and (max-width: 500px) {
  .contactContainer {
    grid-template-columns: 1fr;
  }
}

/*
Icons for the email, phone, location and all social media logos
*/
.contactDetail svg {
  font-size: 30px;
  width: 32px;
  height: 32px;
}

/*
The bottom row that contains all the social media logos
*/
.contactContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 80px;
  background-color: var(--background1);
  padding: 50px;
  margin-bottom: 0;
}

section.contactSection {
  margin-bottom: 0;
  padding-bottom: 0;
}

section.contactSection a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  font-family: "Oswald";
  letter-spacing: 1px;
  line-height: 65px;
  margin-bottom: 15px;
  color: var(--header-color1);
}

section.contactSection a:hover {
  background-color: var(--link-background1);
}
