.statisticContainer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.statisticContainerCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.statisticContainerCard div[class="count-number"],
.statisticContainerCard p {
  text-align: left;
}
.statisticContainerCard div[class="count-number"] {
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.statisticContainerCard p {
  font-size: 14px;
  padding: 0;
  margin: 12px 0 0 0;
}
