.container {
  margin-left: 2px;
}

.item {
  font-size: 12px;
  margin-left: 8px;
  padding: 4px 6px 4px 6px;
  color: var(--blogcategory-foreground-color);
  background-color: var(--blogcategory-background-color);
  border-radius: 4px;
}
