.BlogBody {
  margin: auto;
  padding-top: 30px;
  max-width: 800px;
}
@media only screen and (max-width: 800px) {
  .main {
    width: 90%;
    margin: auto;
  }
}
.heading {
  color: var(--blog-title-foreground-color);
}
.siteTitle {
  font-size: 3rem;
  color: var(--blog-title-foreground-color);
  font-weight: 700;
  margin: 0;
}
.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navLinkItem {
  padding-right: 2rem;
}
.navLinkText {
  color: var(--link-foreground-color);
  margin-right: 10px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
}

.blogTopPicture {
  border-radius: 6px;
}

.paginationBar {
  margin-top: 36px;
}

.paginationTitle {
  padding-top: 8px;
  border-top: 1px solid var(--blog-section-border-color);
  color: var(--blog-title-foreground-color);
  font-size: 24px;
}

.paginationBar a {
  margin-left: 4px;
  padding: 4px 10px;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  color: var(--link-foreground-color);
}
.paginationBar a:hover {
  background-color: var(--blog-title-foreground-color);
  border-radius: 4px;
}
.currentLink {
  background-color: var(--current-link-background-color);
  border-radius: 4px;
}
.paginationLinks {
  font-size: 24px;
  margin-top: 8px;
}

.blogPictureContainer {
  overflow: hidden;
}

.BlogBody td,
.BlogBody th {
  border: 1px solid var(--blog-section-border-color);
  padding: 4px;
}
