.container {
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}
.heading {
  color: #4b4b4b;
  font-family: "Oswald";
}
.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
  font-family: "Oswald";
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-family: "Oswald";
}
.nav-link-item {
  padding-right: 2rem;
}
.navLinkText {
  color: black;
  margin-right: 10px;
  padding: 2px 6px 2px 6px;
}

.blogPostContainer {
}

.blogPostContainer p,
.blogPostContainer ol,
.blogPostContainer ul {
  color: #4b4b4b;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 24px;
  text-align: justify;
}

.blogPostContainer blockquote p {
  font-style: italic;
  color: #a7a7a7;
}

.blogPostContainer pre {
  overflow: auto;
}

.blogPostContainer p.blogPostDate {
  color: #858585;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 12px;
}

.blogPostContainer h2 {
  color: #4b4b4b;
  font-size: 20px;
  font-family: "Oswald";
}
.blogEntry h2 {
  margin-bottom: 4px;
}

.blogEntry p {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #858585;
  font-size: 0.9em;
  font-style: italic;
}

.blogPostContainer p code {
  color: #ff778f;
  background-color: #ececec;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}

.blogPostContainer p:has(img) {
  text-align: center;
}
.blogTopPicture {
}

.paginationBar {
  margin-top: 36px;
}

.paginationTitle {
  padding-top: 8px;
  border-top: 1px solid #4b4b4b;
  color: #4b4b4b;
  font-family: "Oswald";
  font-size: 24px;
}

.paginationBar a {
  margin-left: 2px;
  padding: 2px 6px 2px 6px;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
}
.currentLink {
  background-color: #ff778f;
  border-radius: 4px;
}
.paginationLinks {
  font-size: 24px;
  margin-top: 8px;
}
