.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blog-text-color);
}

.inputs {
  font-family: "Oswald";
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /*Space between textbox and button*/
  gap: 10px;
}

.textbox {
  flex: 1 1;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 10px;
  background-color: var(--blog-date-foreground-color);
  border-radius: 5px;
}
.textbox::placeholder {
  color: var(--current-link-background-color);
  font-style: italic;
  opacity: 1; /* Firefox */
}

.button {
  width: 85px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background-color: var(--current-link-background-color);
  color: var(--blog-title-foreground-color);
}

.button:hover {
  cursor: pointer;
}

.searchinfo {
  color: var(--blog-date-foreground-color);
}

.searchPerformance {
  color: var(--blog-date-foreground-color);
  font-size: 12px;
  text-align: center;
}
