code {
  counter-reset: line;
}

.code-line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: var(--blog-code-line-number-foreground-color);
}

code> .code-line::before {
  width: 2rem;
}


.code-line.highlight-line{
  background-color: var(--blog-code-highlight-line-background-color);
}

pre[class^='language-'] {
  margin: 10px 0px;
  border-radius: 8px;
}

