.blogPostContainer table {
  border: 1px solid var(--blog-section-border-color);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.blogPostContainer table thead tr {
  border-bottom: 1px solid var(--blog-section-border-color);
}

.blogPostContainer p,
.blogPostContainer th,
.blogPostContainer td,
.blogPostContainer ol,
.blogPostContainer ul {
  color: var(--blog-text-color);
  line-height: 36px;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: justify;
}
.blogPostContainer th,
.blogPostContainer td {
  font-size: 16px;
}
.blogPostContainer a {
  color: var(--link-foreground-color);
}

.blogPostContainer blockquote p::before {
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--blog-blockquote-border-color);
  margin-right: 16px;
}

.blogPostContainer blockquote p::after {
  content: "”";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--blog-blockquote-border-color);
  margin-left: 2px;
}

.blogPostContainer blockquote p {
  font-style: italic;
  color: var(--blog-blockquote-text-color);
  border-left: 10px solid var(--blog-blockquote-border-color);
  padding-left: 10px;
  word-break: break-all;
}

.blogPostContainer pre {
  overflow: auto;
}

.blogPostContainer p.blogPostDate {
  color: var(--blog-date-foreground-color);
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 12px;
}

.blogPostContainer h1 {
  color: var(--blog-title-foreground-color);
  font-size: 30px;
  text-decoration: underline;
}

.blogPostContainer h2 {
  color: var(--blog-title-foreground-color);
  font-size: 26px;
}

.blogPostContainer h3 {
  color: var(--blog-title-foreground-color);
  font-size: 22px;
}

.blogPostContainer code:not([class*="code-highlight"]) {
  color: var(--blog-code-inline-foreground-color);
  background-color: var(--blog-code-inline-background-color);
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  font-size: 16px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.blogPostContainer p:has(img) {
  padding: 20px;
  text-align: center;
}
.blogPostContainer img {
  --distance: 16px;
  box-shadow:
    white var(--distance) var(--distance) 20px 0px,
    white calc(0px - var(--distance)) var(--distance) 20px 0px,
    white var(--distance) calc(0px - var(--distance)) 20px 0px,
    white calc(0px - var(--distance)) calc(0px - var(--distance)) 20px 0px;
    margin: var(--distance) 0;
}

.blogPostContainer img,
.blogPostContainer video {
  max-width: 100%;
  border-radius: 10px;
}

.blogPostContainer ul {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: square;
}

.blogPostContainer p + ul {
  margin-top: -20px;
}
