/* ============================================================ Variables ============================================================*/
:root {
  --text-color1: #666666;
  --text-color2: #fff;
  --text-color3: #000;

  --header-color1: #fff;

  --background1: #3a393f;
  --background2: #f0f0f0;
  --background3: #fff;

  --link-background1: #eb4c44; /*Match the color of the image (red)*/

  --size-column: 400px;
}

/* ============================================================ Structure ============================================================*/
.container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 1;
  transition-property: transform;
  transition-duration: 0.5s;
}

.topMenu {
  background-color: var(--background1);
}
section.contactSection a,
.topMenu a,
.topMenu a:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  font-family: "Oswald";
  letter-spacing: 1px;
  line-height: 65px;
  margin-bottom: 15px;
  color: var(--header-color1);
}

section.contactSection a:hover,
.topMenu a:hover {
  background-color: var(--link-background1);
}

/*
* Header: My name and my job description
*/
.topHeader {
  word-break: break-all; /* For Small Resolution*/
  padding: 16px;
}

.topHeaderMyName {
  margin-right: 20px;
}

.topHeaderBlog {
  margin-left: 20px;
}

@media only screen and (max-width: 500px) {
  .topHeader a {
    display: flex;
  }
  .topHeaderBlog {
    margin-left: 0px;
  }
}

body {
  margin: 0;
  font-family: "Oswald";
}

.homeContent {
  padding-top: 200px;
  padding-left: 40px;
}

.homeContent h1 {
  text-transform: uppercase;
  font-size: 54px;
  font-family: "Oswald";
  font-variation-settings: "wght" 200;
  letter-spacing: 1px;
  line-height: 65px;
  margin-bottom: 15px;
  color: var(--header-color1);
}

@media only screen and (max-width: 500px) {
  .homeContent h1 {
    font-size: 40px;
  }
}

.homeContentTitles {
  color: white;
  font-size: 1.6rem;
  line-height: 2rem;
  text-shadow: black 1px 1px 2px;
}

.textOnPicture {
  z-index: 2;
  position: absolute;
}

.topPicture {
  width: 100%;
  height: 100vh;
}

.topMenu a.topHeaderAnchorLink {
  font-size: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

.sectionMainpage {
  font-family: "Open Sans";
  padding-top: 100px;
  padding-bottom: 100px;
}

.sectionMainpage > header {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald";
  color: var(--text-color3);
  font-weight: 300;
  margin-bottom: 0.9rem;
  font-size: 2.1rem;
  line-height: 2.5rem;
}

.sectionMainpage h3,
.sectionMainpage h5 {
  color: var(--text-color3);
  text-align: center;
}

.sectionMainpage h3 {
  font-size: 22px;
}
.sectionMainpage h5 {
  font-size: 18px;
}

.sectionAboutMeContainer,
.sectionFixedWitdh {
  display: flex;
  flex-flow: wrap;
  row-gap: 20px;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.sectionAboutMeContainerContent,
.sectionFixedWitdhContent {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--size-column);
}

@media only screen and (max-width: 500px) {
  .sectionAboutMeContainerContent,
  .sectionFixedWitdhContent {
    flex: 1 1 100%;
  }
}

.sectionMainpage p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  color: var(--text-color1);
  text-align: justify;
}

.sectionVisualOne {
  background-color: var(--background2);
}
.sectionVisualTwo {
  background-color: var(--background3);
}
.sectionVisualOneSubHeader {
  font-size: 1.2rem;
  margin-bottom: 40px;
  text-align: center;
  color: var(--text-color1);
}
.sectionMainpage p.cardFixedWidthImage {
  text-align: center;
}
.cardFixedWidthImageImg {
  max-width: --var(--size-column);
}

.sectionSingleFixedWidth {
  max-width: --var(--size-column);
  margin: auto;
}

.cardWithImageContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 32px;
}

.cardWithImageContainerImage {
  padding: 16px;
}

.cardFixedWidthImage {
}

.cardWithImageContainer > .cardWithImageContainerText > h5,
.cardWithImageContainer > .cardWithImageContainerText > h6 {
  text-align: left;
  margin: 6px 0 6px 0;
}

.cardWithImageContainer > .cardWithImageContainerText > h6 {
  font-style: italic;
  color: var(--text-color1);
}

.cardWithImageContainer > .cardWithImageContainerText > p {
  font-size: 14px;
}

.technologiesColumn {
  margin: auto;
}

.technologiesColumn,
.cardWithImageContainer {
  max-width: 600px;
}

@media only screen and (max-width: 500px) {
  .technologiesColumn,
  .cardWithImageContainer {
    max-width: --var(--size-column);
    grid-template-columns: none;
  }
  .cardWithImageContainerImage {
    display: none;
    width: 0;
  }
}

.achievementContainerBackground {
  background: url(../images/backgrounds/patrickdesjardinsatnetflix2.jpg)
    no-repeat top center fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  color: var(--text-color2);
  padding: 0;
}

.achivementTextZone > header {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}
.achivementTextZone > .achievementText p {
  color: var(--header-color1);
  font-size: 14px;
}

.achievementOverlay {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  overflow: hidden;
  min-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 500px) {
  .achievementOverlay {
    display: block;
  }
  .achievementColumn1 {
  }

  .achievementColumn2 {
  }
}
.patentFlair,
.amazonFlair {
  background-color: white;
  width: 290px;
  border-radius: 2px;
  padding: 2px;
  margin: auto;
}

.mvpFlair {
  margin: auto;
  width: 200px;
}

.achievementGallery {
  min-height: 300px;
  background-color: rgba(125, 123, 144, 0.4);
  padding: 24px;
  margin: auto;
  border-radius: 2px;
  margin: 150px 200px 150px 50px;
}
.achivementTextZone {
  width: 330px;
  margin: auto;
  margin-top: 300px;
}

.statisticContainer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.statisticContainerCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.statisticContainerCard h5,
.statisticContainerCard h6 {
  text-align: left;
}
.statisticContainerCard h5 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.statisticContainerCard h6 {
  font-size: 14px;
  padding: 0;
  margin: 12px 0 0 0;
}

.educationSection {
  font-size: 20px;
}
.educationSection ul {
  list-style: none;
}

.educationSection ul li {
  margin-top: 30px;
}

.educationSection ul li > svg,
.educationSection ul li > p {
  display: inline;
}

.educationSection ul li > svg {
  margin-right: 16px;
  color: var(--text-color1);
}

.historyContainerBackground {
  background: url(../images/backgrounds/patrickdesjardinsatmicrosoft.jpg)
    no-repeat top center fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  color: var(--header-color1);
  padding: 0;
}

.historyOverlay {
  width: 100%;
  overflow: hidden;
  min-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  overflow: hidden;
  min-height: 600px;
}

.historyOverlayColumn1,
.historyOverlayColumn2 {
  margin: 150px 30px 150px 30px;

  background-color: rgba(226, 226, 226, 0.28);
  padding: 40px;
}

@media only screen and (max-width: 500px) {
  .historyOverlay {
    display: block;
  }
}

.historyOverlayColumn1 header {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}

.historyOverlayColumn1 p,
.historyOverlayColumn2 p {
  color: var(--header-color1);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoContainer {
  position: relative;
  padding-bottom: 50%;
}
.firstVideo {
  width: 80%;
  margin: auto;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 80px;
}

@media only screen and (max-width: 500px) {
  .contactContainer {
    grid-template-columns: 1fr;
  }
}

/*
Icons for the email, phone, location and all social media logos
*/
.contactDetail svg {
  font-size: 30px;
}

/*
The bottom row that contains all the social media logos
*/
.contactContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 80px;
  background-color: var(--background1);
  padding: 50px;
  margin-bottom: 0;
}

section.contactSection {
  margin-bottom: 0;
  padding-bottom: 0;
}
